<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title></title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <style>
    html, body {
      margin: 5px;
      padding: 0;
    }
  </style>
</head>
<body>
  <div id="app">
    名前: <input v-model="name">
    コース: <input v-model="cource">
    受験期: <input v-model="acceptancePeriod">
    <br>
    <button v-on:click="addStudent">入力した生徒を追加する</button>
    <ul>
      <li v-for="student in students" v-bind:key="student.id">
        ID {{student.id}} /
        名前 {{student.name}} /
        コース {{student.cource}} /
        受験期 {{student.acceptancePeriod}}
      </li>
    </ul>
  </div>
  <script src="./sample.js"></script>
</body>
</html>
